@model IEnumerable<PetrolStation.Models.Client>
@using System.Text.RegularExpressions

@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>Client list</h1>
    <h4 style="position: absolute; margin-top:-45px; margin-left:200px; width:300px">Select transaction type</h4>
    <select id="ClientType" class="browser-default custom-select custom-select-lg mb-3" style="position: absolute; margin-top:-8px; margin-left:200px; width:250px">
        <option>Person</option>
        <option>Company</option>
    </select>
    <p>
        <input class="btn btn-primary" type="button" value="Add new Client" onclick="location.href='@Url.Action("AddNewClient", "Clients")'" style="width: 165px;"/>

    </p>
</div>
<table class="table">
    <tbody class="Person">
        <tr>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.FirstName), "(\\B[A-Z])", " $1")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.HouseNumber), "(\\B[A-Z])", " $1")
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.ApartmentNumber), "(\\B[A-Z])", " $1")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locality)
            </th>
            <th></th>
        </tr>
    </tbody>
    <tbody class="Company" hidden>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.HouseNumber), "(\\B[A-Z])", " $1")
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.ApartmentNumber), "(\\B[A-Z])", " $1")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locality)
            </th>
            <th></th>
        </tr>
    </tbody>
    @*<tbody class="All">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locality)
                </th>
                <th></th>
            </tr>
        </tbody>*@
    @foreach (var item in Model)
    {
        string clientType = "-";
        if (item.NIP != null)
        {
            clientType = "Company";
        }
        else
        {
            clientType = "Person";
        }
        <tbody class="@clientType">
            <tr>
                @if (item.Name != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                }
                @if (item.FirstName != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                }
                @if (item.Surname != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                }
                @if (item.NIP != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.NIP)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locality)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdClient">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdClient">Details</a> |
                    <a asp-action="CarManage" asp-route-id="@item.IdClient" class="btn btn-success">Manage cars</a>
                </td>
            </tr>
        </tbody>
    }
</table>

<script>
    window.onload = function () {
        let companies = document.getElementsByClassName("Company");
        let persons = document.getElementsByClassName("Person");
        let clientTypeSelect = document.getElementById("ClientType");

        //hide companies on default
        for (let i = 0; i < companies.length; i++) {
            companies[i].hidden = true;
        }
        //On select change
        clientTypeSelect.onchange = function (event) {
            var value = event.target.value;
            if (value == "Company") {
                for (let i = 0; i < persons.length; i++) {
                    persons[i].hidden = true;
                }
                for (let i = 0; i < companies.length; i++) {
                    companies[i].hidden = false;
                }
            }
            else if (value == "Person") {
                for (let i = 0; i < persons.length; i++) {
                    persons[i].hidden = false;
                }
                for (let i = 0; i < companies.length; i++) {
                    companies[i].hidden = true;
                }
            }
        }
    }
</script>