@model PetrolStation.Models.ModelePomocnicze.SaleOverPeriodOfTimeReport.SaleOverPeriodOfTimeModel
@{
    ViewData["Title"] = "SaleOverPeriodOfTime";
}

<h1>Sales in time period</h1>
<form asp-action="SaleOverPeriodOfTime">
    <label>Sort by:</label>
    <select asp-for="@Model.Order" class="form-control" style="width:210px">
        <option value="1">ID</option>
        <option value="2">Name</option>
        <option value="3">Quantity sold</option>
    </select>
    <label asp-for="@Model.PoczatekPrzedzialu">Date from</label>
    <input asp-for="@Model.PoczatekPrzedzialu" class="form-control" style="width:210px" />
    <br />
    <label asp-for="@Model.KoniecPrzedzialu">Date to</label>
    <input asp-for="@Model.KoniecPrzedzialu" class="form-control" style="width:210px" />
    <br />
    <input type="submit" value="Generate" class="btn btn-primary" />
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity sold</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.soldProducts.Count; i++)
        {
        <tr>
            <th scope="row">@Model.soldProducts[i].Id</th>
            <td>@Model.soldProducts[i].Name</td>
            <td>@Model.soldProducts[i].SoldQuantity</td>
        </tr>
        }
    </tbody>
</table>