@model PetrolStation.Models.ModelePomocnicze.TransactionModel

@{
    ViewData["Title"] = "AddTransaction";
}

<h1>AddTransaction</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--
    kod
    -->
            @if (Model.purchasedProducts.Count != 0)
            {
                for (var i = 0; i < Model.purchasedProducts.Count; i++)
                {
                    <input asp-for=">@Model.purchasedProducts[i].product.Name" hidden />
                    <input asp-for=">@Model.purchasedProducts[i].product.IdProduct" hidden />
                    <input asp-for=">@Model.purchasedProducts[i].product.Price" hidden />
                    <input asp-for=">@Model.purchasedProducts[i].product.PriceInPoints" hidden />
                    <input asp-for=">@Model.purchasedProducts[i].product.QuantityInStorage" hidden />
                    <input asp-for=">@Model.purchasedProducts[i].Quantity" hidden />
                }
            }
            @if (Model.purchasedFueling.Count != 0)
            {
                for (var i = 0; i < Model.purchasedFueling.Count; i++)
                {
                    <input asp-for="@Model.purchasedFueling[i].VelueOfFueling" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Date" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.IdGasPump" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Quantity" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.IdFuel" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.IdFueling" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Fuel.IdFuel" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Fuel.Name" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Fuel.PriceForLiter" hidden />
                }
            }
            <input asp-for="@Model.IsInvoice" hidden />

            <table class="table table-striped">
                <tr>
                    <th scope="col">Numer dystrybutora</th>
                    <th scope="col">Nazwa paliwa</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Cena za litr</th>
                    <th scope="col">Wartość brutto</th>
                    <th scope="col">Rozliczyć?</th>
                </tr>
                @if (Model.purchasedFueling.Count != 0)
                {
                    for (var i = 0; i < Model.purchasedFueling.Count; i++)
                    {
                        <tr>
                            <td>@Model.purchasedFueling[i].fueling.IdGasPump</td>
                            <td>@Model.purchasedFueling[i].fueling.Fuel.Name</td>
                            <td>@Model.purchasedFueling[i].fueling.Quantity</td>
                            <td>@Model.purchasedFueling[i].fueling.Fuel.PriceForLiter</td>
                            <td>@Model.purchasedFueling[i].VelueOfFueling</td>
                            <td><input type="checkbox" asp-for="@Model.purchasedFueling[i].IsChecked"  /></td>
                        </tr>
                    }
                }
            </table>

            <br /><br />
            <table>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Cena produktu</th>
                    <th>Ilość</th>
                    <th>Cena brutto</th>
                </tr>
                @if (Model.purchasedProducts.Count != 0)
                {
                    for (var i = 0; i < Model.purchasedProducts.Count; i++)
                    {
                        <tr>
                            <td>@Model.purchasedProducts[i].product.Name</td>
                            <td>@Model.purchasedProducts[i].product.Price</td>
                            <td>@Model.purchasedProducts[i].Quantity</td>
                            <td>@(Model.purchasedProducts[i].Quantity * Model.purchasedProducts[i].product.Price)</td>
                        </tr>
                    }
                }
            </table>
            <br />
            <div class="form-group">
                <label asp-for="NamePurchasedProduct" class="control-label">Nazwa produktu</label>
                <select asp-for="NamePurchasedProduct" class="form-control" asp-items="ViewBag.Produkty"></select>
            </div>
            <label asp-for="QuantityPurchasedProduct" class="control-label">Ilość produktu</label>
            <input asp-for="QuantityPurchasedProduct" />
            <label asp-for="TransactionValue" class="control-label">Wartość transakcji</label>
            <input asp-for="@Model.TransactionValue" disabled class="wartoscTransakcji"/>
            <input asp-for="@Model.TransactionValue" hidden class="wartoscTransakcji"/>
            @if (ViewBag.Error != null)
            {
                <p style="color:red">@ViewBag.Error</p>
            }
            <br />
            <label for="@Model.IdLoyalityCard">@Model.IdLoyalityCard</label>
            <input asp-for="@Model.IdLoyalityCard" />
            <div class="form-group">
                <input type="submit" value="Dodaj produkt" class="btn btn-primary" formaction="AddProduct" />
            </div>
            <label asp-for="@Model.CardPayment">Płatność punktami</label>
            <input type="checkbox" asp-for="@Model.CardPayment" />
            <div class="form-group">
                <input type="submit" value="Zatwierdź transakcję" class="btn btn-primary" formaction="AddTransactionPOST" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
