@model PetrolStation.Models.ModelePomocnicze.TransactionModel

@{
    ViewData["Title"] = "AddTransaction";
}

<style>
    table.scroll tbody,
    table.scroll thead {
        display: block;
        width: 100%;
    }

    table.scroll th {
        width: 20%;
    }

    table.scroll tbody {
        height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #show_invoice[checked=""] {
    }

    #show_invoice[checked="checked"] {
        color: darkred;
    }

    .autofill {
        position: relative;
        display: inline-block;
    }

    .autofill_list {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }

        .autofill_list div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

    .autofill-items div:hover {
        background-color: #e9e9e9;
    }

    .autofill-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<h1>AddTransaction</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTransactionPOST" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--
            kod
            -->

            @if (Model.purchasedFueling.Count != 0)
            {
                for (var i = 0; i < Model.purchasedFueling.Count; i++)
                {
                    <input asp-for="@Model.purchasedFueling[i].VelueOfFueling" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Date" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.IdGasPump" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Quantity" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.IdFuel" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.IdFueling" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Fuel.IdFuel" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Fuel.Name" hidden />
                    <input asp-for="@Model.purchasedFueling[i].fueling.Fuel.PriceForLiter" hidden />
                }
            }
            <input asp-for="@Model.IsInvoice" hidden />

            <table class="table table-striped">
                <tr>
                    <th scope="col">Numer dystrybutora</th>
                    <th scope="col">Nazwa paliwa</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Cena za litr</th>
                    <th scope="col">Wartość brutto</th>
                    <th scope="col">Rozliczyć?</th>
                </tr>
                @if (Model.purchasedFueling.Count != 0)
                {
                    for (var i = 0; i < Model.purchasedFueling.Count; i++)
                    {
                        <tr>
                            <td>@Model.purchasedFueling[i].fueling.IdGasPump</td>
                            <td>@Model.purchasedFueling[i].fueling.Fuel.Name</td>
                            <td>@Model.purchasedFueling[i].fueling.Quantity</td>
                            <td>@Model.purchasedFueling[i].fueling.Fuel.PriceForLiter</td>
                            <td>@Model.purchasedFueling[i].VelueOfFueling</td>
                            <td><input type="checkbox" asp-for="@Model.purchasedFueling[i].IsChecked" /></td>
                        </tr>
                    }
                }
            </table>

            <br /><br />
            <table class="scroll" id="bought_list">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena produktu</th>
                        <th>Ilość</th>
                        <th>Suma</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h3 id="sum"></h3>
            <input id="bought_input" asp-for="@Model.boughtString" hidden="hidden" />
            <div class="autofill">
                <label>
                    Produkt
                    <input id="product_id">
                </label>
                <input type="button" value="dodaj" id="add_product" />
            </div>
            <div class="autofill">
                <h1>Paragon</h1>
                <label>
                    Numer karty
                    <input id="card_id">
                </label>
            </div>
            <input id="show_invoice" type="button" value="Faktura" checked="">
            <div id="invoice" hidden="hidden">
                <h1>Faktura</h1>
                <label class="autofill">
                    Wyszukiwanie
                    <input id="client_id">
                </label><br>
                <label>
                    Nazwa
                    <input id="name">
                </label><br>
                <label>
                    NIP
                    <input asp-for="@Model.client.NIP" id="nip">
                </label><br>
                <label>
                    Imię
                    <input id="first_name">
                </label><br>
                <label>
                    Nazwisko
                    <input id="surname">
                </label><br>
                <label>
                    Ulica
                    <input id="street">
                </label><br>
                <label>
                    Numer domu
                    <input id="house_number">
                </label><br>
                <label>
                    Numer mieszkania
                    <input id="apartment_number">
                </label><br>
                <label>
                    Kod pocztowy
                    <input id="postal_code">
                </label><br>
                <label>
                    Kraj
                    <input id="country">
                </label>
            </div>
            <label asp-for="TransactionValue" class="control-label">Wartość transakcji</label>
            <input asp-for="@Model.TransactionValue" disabled class="wartoscTransakcji" />
            <input asp-for="@Model.TransactionValue" hidden class="wartoscTransakcji" />
            @if (ViewBag.Error != null)
            {
                <p style="color:red">@ViewBag.Error</p>
            }
            <br />
            <label for="@Model.IdLoyalityCard">@Model.IdLoyalityCard</label>
            <input asp-for="@Model.IdLoyalityCard" />
            <label asp-for="@Model.CardPayment">Płatność punktami</label>
            <input type="checkbox" asp-for="@Model.CardPayment" />
            <div class="form-group">
                <input asp-for="@Model.IsInvoice" id="IsInvoice" hidden />
            </div>
            <div class="form-group">
                <input type="button" id="send" value="Zatwierdź transakcję" class="btn btn-primary" formaction="AddTransactionPOST" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

</div>

<script>
    class Product {
        constructor(id, name, storage, price, points) {
            this.id = parseInt(id);
            this.name = name;
            this.storage = parseInt(storage);
            this.price = parseFloat(price);
            this.points = parseInt(points);
        }
    }

    class ProductList {
        constructor(products) {
            this.list = [];
            this.total = 0;
            let temp;
            if (products == undefined)
                return;
            while (products.length > 0) {
                temp = products.pop();
                this.addProduct(new Product(
                    temp.IdProduct,
                    temp.Name,
                    temp.QuantityInStorage,
                    temp.Price,
                    temp.PriceInPoints
                ));
            }
        }

        addProduct(product) {
            this.list.push(product);
        }

        printList() {
            for (let product of this.list) {
                console.log(product);
            }
        }

        calculateTotal() {
            for (let product of this.list)
                this.total += product.price;
        }

        getTotal() {
            this.calculateTotal();
            return this.total;
        }

        getList() {
            return this.list;
        }

        getProduct(x) {
            return this.list[x];
        }

        searchById(x) {
            for (let product of this.list) {
                if (product.id === x) {
                    return product;
                }
            }
        }

        returnBought() {
            let string = "";
            for (let product of this.list) {
                string += product.id.toString() + "," + "1" + ";";
            }
            return string;
        }
    }

    class Car {
        constructor(id, clientId, plate, brand, model) {
            this.id = parseInt(id);
            this.clientId = parseInt(clientId);
            this.plate = plate;
            this.brand = brand;
            this.model = model;
        }
    }

    class CarList {
        constructor(cars) {
            this.list = [];
            let temp;
            while (cars.length > 0) {
                temp = cars.pop();
                this.list.push(new Car(
                    temp.IdCar,
                    temp.IdClient,
                    temp.NumberPlate,
                    temp.CarBrand,
                    temp.CarModel
                ));
            }
        }
    }

    class Card {
        constructor(id, clientId, points) {
            this.id = parseInt(id);
            this.clientId = parseInt(clientId);
            this.points = parseInt(points);
        }

    }

    class CardList {
        constructor(cards) {
            this.list = [];
            let temp;
            while (cards.length > 0) {
                temp = cards.pop();
                this.list.push(new Card(
                    temp.IdLoyalityCard,
                    temp.IdClient,
                    temp.ActualPoints
                ));
            }
        }

        getList() {
            return this.list;
        }
    }

    class Client {
        constructor(id, name, firstName, surname, nip, street, houseNumber, apartmentNumber, postalCode, city) {
            this.id = parseInt(id);
            this.name = name;
            this.firstName = firstName;
            this.surname = surname;
            this.nip = nip;
            this.street = street;
            this.houseNumber = houseNumber;
            this.apartmentNumber = apartmentNumber;
            this.postalCode = postalCode;
            this.city = city;
        }
    }

    class ClientList {
        constructor(clients) {
            this.list = [];
            let temp;
            while (clients.length > 0) {
                temp = clients.pop();
                this.list.push(new Client(
                    temp.IdClient,
                    temp.Name,
                    temp.FirstName,
                    temp.Surname,
                    temp.NIP,
                    temp.Street,
                    temp.HouseNumber,
                    temp.ApartmentNumber,
                    temp.Postcode,
                    temp.Locality
                ));
            }
        }

        getList() {
            return this.list;
        }
    }

    let produkty = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Produkty));
    let karty = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Karty));
    let klienci = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Klienci));
    let samochody = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Samochody));

    let available = new ProductList(produkty);
    let bought = new ProductList();
    let cards = new CardList(karty);
    let cars = new CarList(samochody);
    let clients = new ClientList(klienci);


    let product_input = document.getElementById("product_id");
    let product_button = document.getElementById("add_product");
    let card_input = document.getElementById("card_id");
    let car_input;
    let client_input = document.getElementById("client_id");

    let submit_button = document.getElementById("send");

    let invoice_button = document.getElementById("show_invoice");

    product_input.focus();

    autofill(product_input, available.getList());
    autofill(card_input, cards.getList());
    autofill(client_input, clients.getList());

    product_button.addEventListener("click", function (e) {
        if (!product_input.value) return;
        if (product_input.data) {
            bought.addProduct(available.getProduct(product_input.data));
            product_input.data = null;
        } else {
            let temp = available.searchById(product_input.data);
            if (temp) {
                bought.addProduct(temp);
            }
            else {
                //jakiś alert tutaj
            }
        }
        product_input.value = null;
        updateBought();
        product_input.focus();
    });

    invoice_button.addEventListener("click", function (e) {
        if (this.getAttribute("checked") === "checked") {
            document.getElementById("invoice").hidden = true;
            document.getElementById("IsInvoice").checked = false;
            this.setAttribute("checked", "");
        } else {
            document.getElementById("invoice").hidden = false;
            document.getElementById("IsInvoice").checked = true;
            this.setAttribute("checked", "checked");
        }
    });

    submit_button.addEventListener("click", function (e) {
        e.preventDefault();
        let return_bought = document.getElementById("bought_input");
        return_bought.value = bought.returnBought();
        document.getElementById("form").submit();
        console.log("pułapka");
        //this.click();
    });

    function updateBought() {
        let table = document.getElementById("bought_list");
        let body = table.getElementsByTagName("tbody")[0];
        body.innerHTML = "";
        let row, cell;
        let products = bought.getList()
        for (let i = 0; i < products.length; i++) {
            row = document.createElement("tr");
            cell = document.createElement("th");
            cell.innerHTML = products[products.length - 1 - i]["name"];
            row.appendChild(cell);
            body.appendChild(row);
        }
        document.getElementById("sum").innerText(bought.getTotal().toString());
    }

    function autofill(input, object_list) {

        let highlighted;

        input.addEventListener("input", function (e) {
            closeLists();
            let value = this.value;
            let x, y;
            if (!value) {
                return false;
            }
            highlighted = -1;
            x = document.createElement("div");
            x.setAttribute("id", this.id + "autofill_list");
            x.setAttribute("class", "autofill_list");
            this.parentNode.appendChild(x);
            for (let i = 0; i < object_list.length; i++) {
                let indexes = [];
                for (let j in object_list[i]) {
                    if (object_list[i][j].toString().substr(0, value.length).toUpperCase() == value.toUpperCase()) {
                        indexes.push(j);
                    }
                }
                if (indexes.length > 0) {
                    y = document.createElement("div");
                    y.innerHTML = "";
                    for (let j in object_list[i]) {
                        if (indexes.includes(j)) {
                            y.innerHTML += "<strong>" + object_list[i][j].toString().substr(0, value.length) + "</strong>";
                            y.innerHTML += object_list[i][j].toString().substr(value.length);
                        } else {
                            y.innerHTML += object_list[i][j].toString();
                        }
                        switch (this.id) {
                            case "product_id":
                                y.addEventListener("click", function (e) {
                                    input.data = i;
                                    input.value = object_list[i]["name"];
                                });
                                break;
                            case "card_id":
                                y.addEventListener("click", function (e) {
                                    input.value = object_list[i]["id"];
                                });
                                break;
                            case "car_id":
                                y.addEventListener("click", function (e) {
                                    input.value = object_list[i]["plate"];
                                });
                                break;
                            case "client_id":
                                y.addEventListener("click", function (e) {
                                    input.value = object_list[i]["id"];
                                });
                            default:
                                break;
                        }
                    }
                    x.appendChild(y);
                }
            }
        });

        input.addEventListener("keydown", function (e) {
            let list = document.getElementById(this.id + "autofill_list");
            if (list) {
                list = list.getElementsByTagName("div");
            }
            if (e.keyCode == 40) { //down
                highlighted++;
                addActive(list);
            } else if (e.keyCode == 38) { //up
                highlighted--;
                addActive(list);
            } else if (e.keyCode == 13) { //enter
                e.preventDefault();
                if (highlighted > -1) {
                    if (list) {
                        list[highlighted].click();
                    } else if (this.id == "product_id") {
                        product_button.click();
                    }
                }
            }
        });

        document.addEventListener("click", function (e) {
            closeLists(e.target);
        });

        function closeLists(element) {
            let lists = document.getElementsByClassName("autofill_list");
            for (let i = 0; i < lists.length; i++) {
                if (element != input) {
                    lists[i].parentNode.removeChild(lists[i]);
                }
            }
        }

        function addActive(list) {
            if (list.length < 1) return false;
            removeActive(list);
            if (highlighted >= list.length) highlighted = 0;
            if (highlighted < 0) highlighted = (list.length - 1);
            list[highlighted].classList.add("autofill-active");
        }

        function removeActive(list) {
            for (var i = 0; i < list.length; i++) {
                list[i].classList.remove("autofill-active");
            }
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}