@model List<PetrolStation.Models.ModelePomocnicze.ExtendedTransactionModel>


@{
    ViewData["Title"] = "Index";
    <select id="TypeList">
        <option>Transaction</option>
        <option>Transaction Invoice</option>
        <option>All</option>
    </select>
}

<h1>Transactions</h1>
<table class="table" id="MainTable">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Id transaction</th>
            <th scope="col">Transaction date</th>
            <th scope="col" @*hidden*@>Client Id</th>
            <th scope="col" @*hidden*@>Locality</th>
            <th scope="col" @*hidden*@>Street</th>
            <th scope="col" @*hidden*@>Car</th>
            <th scope="col" @*hidden*@>Fueling list</th>
            <th scope="col" @*hidden*@>Purchased products</th>
            <th scope="col">Loyality card Id</th>
            <th scope="col">Loyality card owner Id</th>
            <th scope="col">Loyality card actual points</th>
        </tr>
        @foreach (var extendedTransaction in Model)
        {
    <tr>
        <td>
            <button class="details">></button>
        </td>
        <td>
            @Html.DisplayFor(modelItem => extendedTransaction.Transaction.IdTransaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => extendedTransaction.Transaction.Date)
        </td>
        <td @*hidden*@>
            @Html.DisplayFor(modelItem => extendedTransaction.Client.IdClient)
        </td>
        <td @*hidden*@>
            @Html.DisplayFor(modelItem => extendedTransaction.Client.Locality)
        </td>
        <td @*hidden*@>
            @Html.DisplayFor(modelItem => extendedTransaction.Client.Street)
        </td>
        <td @*hidden*@>
            @Html.DisplayFor(modelItem => extendedTransaction.Car)
        </td>
        @*Fueling list*@
        <td>
            <table>
                <tr>
                    <th scope="col">Id fueling</th>
                    <th scope="col">Id gas pump</th>
                    <th scope="col">Fuel name</th>
                    <th scope="col">Price per liter</th>
                    <th scope="col">Fuel quantity</th>
                    <th scope="col">Price total</th>
                </tr>
                @foreach (var fueling in extendedTransaction.FuelingList)
                {
                    //Zastanowic sie czy tak chcemy zaokraglac
                    decimal priceTotal = Math.Round(fueling.Fueling.Fuel.PriceForLiter * (decimal)(fueling.Fueling.Quantity), 2);
                    <tr @*hidden*@>
                        <td>
                            @Html.DisplayFor(modelItem => fueling.IdFueling)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => fueling.Fueling.IdGasPump)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => fueling.Fueling.Fuel.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => fueling.Fueling.Fuel.PriceForLiter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => fueling.Fueling.Quantity)
                        </td>
                        <td>
                            @priceTotal
                        </td>
                    </tr>
                }
            </table>
        </td>
        @*Product list*@
        <td>
            <table>
                <tr>
                    <th scope="col">Id product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price per unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price sum</th>
                </tr>
                @foreach (var product in extendedTransaction.PurchasedProducts)
                {
                    decimal priceSum = product.Quantity * product.Product.Price;
                    <tr @*hidden*@>
                        <td>
                            @Html.DisplayFor(modelItem => product.IdProduct)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => product.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => product.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => product.Quantity)
                        </td>
                        <td>
                            @priceSum
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td @*hidden*@>
            @Html.DisplayFor(modelItem => extendedTransaction.LoyalityCard.IdLoyalityCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => extendedTransaction.LoyalityCardOwner.IdClient)
        </td>
        <td @*hidden*@>
            @Html.DisplayFor(modelItem => extendedTransaction.LoyalityCard.ActualPoints)
        </td>
    </tr>
        }
    </thead>
</table>
<script>
    var table = document.getElementById("MainTable");
    //for (let i = 0; i < table.rows; i++)
    //{
    //    var detailsButton = 
    //}
</script>
